body { margin: 0; }
.container {
    border: 1px firebrick solid;
    margin: 20px;
    text-align: center;
}
.container ul { padding: 0; }
.container ul li { 
    list-style-type: none;
    margin-bottom: 1rem;
}